# Dependencies
node_modules/
.pnp/
.pnp.js

# Strapi
.cache/
.tmp/
build/
dist/

# Database
*.db
*.sqlite

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
public/uploads/*
!public/uploads/.gitkeep

# License
license.txt
